{
    "filament_colour": [
        "#FF6AC1",
        "#1F6FEB"
    ],
    "printer_settings_id": "ScadBuddy",
    "print_settings_id": "ScadBuddy",
    "filament_settings_id": [
        "ScadBuddy",
        "ScadBuddy"
    ],
    "nozzle_diameter": [
        "0.4"
    ],
    "printable_height": "250",
    "wipe_tower_x": [
        "98"
    ],
    "wipe_tower_y": [
        "5"
    ]
}
