<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="3">
  <metadata key="name" value="name-keychain"/>
  <metadata key="extruder" value="1"/>
  <part id="1" subtype="normal_part">
   <metadata key="name" value="Color 1"/>
   <metadata key="extruder" value="1"/>
  </part>
  <part id="2" subtype="normal_part">
   <metadata key="name" value="Color 2"/>
   <metadata key="extruder" value="2"/>
  </part>
 </object>
 <plate>
  <metadata key="plater_id" value="1"/>
  <metadata key="plater_name" value=""/>
  <metadata key="locked" value="false"/>
  <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
  <metadata key="top_file" value="Metadata/top_1.png"/>
  <metadata key="pick_file" value="Metadata/pick_1.png"/>
  <model_instance>
   <metadata key="object_id" value="3"/>
   <metadata key="instance_id" value="0"/>
  </model_instance>
 </plate>
</config>
